
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    height: 100px;
    background-image: url("../img/pattern.png");
    background-color: rgb(100, 100, 255);
}

#thebooleanerimg {
    width: 15%;
}

.contenitore0 {
    padding: 10px;
}

.contenitore1 {
    color: grey;
    font-size: 15px;
    font-weight: bold;
}

#testo1 {
    color: rgb(100, 100, 230);
}

#testo2 {
    font-size: 10px;
}

#testo3 {
    font-size: 12px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#tablehead {
    background-color: rgb(63, 147, 189);
    color: white;
}

.tablebody1 {
    background-color: rgb(85, 208, 212);
}

.td1 {
    width: 15%;
}
